<div class="formulario">
  <p>Por favor, ingrese su nombre a continuación:</p>
  <form action="/ingresar" method="post" class="form">
    <div class="form__group">
      <input type="text" id="name" name="nombre" class="form__input" placeholder=" "><button>Ingresar</button>
      <label for="name" class="form__label">Nombre:</label>
    </div>
  </form>
</div>

